# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Spyder project settings
.spyderproject
.spyproject

# JetBrains
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
wandb/

# Aachen cluster specific stuff
core.*

# Ignore a common data directory
/data

